apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account-service
        image: mazulu/account-service:latest
        ports:
        - containerPort: 8001
        envFrom:
        - configMapRef:
            name: account-config
        - secretRef:
            name: account-secret
