name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_REGISTRY }}/cloud-banking-app:${{ github.sha }} .

    - name: Log in to Registry
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login ${{ secrets.DOCKER_REGISTRY }} -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push image
      run: |
        docker push ${{ secrets.DOCKER_REGISTRY }}/cloud-banking-app:${{ github.sha }}
