name: Account Service CI/CD

on:
 push:
  branches: [ main ]
 pull_request: 
  branches: [ main ]

jobs:
 build-test-and-deploy:
  runs-on: ubuntu-latest

  steps:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Set up Python
    uses: actions/setup-python@v5
    with:
      python-version: '3.11'

  - name: Install dependencies
    run: |
      pip install --upgrade pip
      pip install -r requirements.txt
      pip install pytest

  - name: Log in to Docker Hub
    uses: docker/login-action@v2
    with:
      username: mazulu
      password: Bassie_07

  - name: Build Docker image
    run: docker build -t mazulu/account-service:latest .

  - name: Push Docker image
    run: docker push mazulu/account-service:latest


